@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    background:#f4f7fc;
}

/* Dashboard Content */

.admin-content{
    width:100%;
    padding:30px;
}

.admin-title{
    font-size:34px;
    font-weight:700;
    color:#111827;
    margin-bottom:30px;
}

.dashboard-section{
    margin-top:35px;
}

.dashboard-section h2{
    color:#111827;
    margin-bottom:20px;
}

@media(max-width:768px){

.admin-content{
    padding:20px;
}

.admin-title{
    font-size:28px;
}

}